.btn {
	font-size: 11px;
	font-weight: 400;
	padding: 7px 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	border-radius: 40;
	font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}